*, *::before, *::after {
    box-sizing: border-box;
    user-select: none;
  }
  
  body {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
   
  }
  
  .world {
    overflow: hidden;
    position: relative;
  }
  
  .score {
    margin-left: 37rem;
    font-size: 10vmin;
    align-items: center;
  justify-content: center;
  }
  
  .start-screen {
    position: absolute;
    font-size: 5vmin;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .hide {
    display: none;
  }
  
  .ground {
    --left: 0;
    position: absolute;
    width: 300%;
    bottom: 0;
    left: calc(var(--left) * 1%)
  }
  
  .car {
    --bottom: 0;
    position: absolute;
    left: 1%;
    height: 30%;
    bottom: calc(var(--bottom) * 1%);
  }
  
  .obstacle {
    position: absolute;
    left: calc(var(--left) * 1%);
    height: 25%;
    width: 15%;
    bottom: 0;
  }